/*This is the css that pertains to navbar*/
/*=========The entire navbar=============*/
.navbar {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 60px;
    z-index: 999;
    position: fixed;
    background-color: #9BA9BF;
}

/*====The Menu======*/
.menu {
    width: 90%;
}

ul.menu {
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: left;
    left: 0;
}

ul.menu li {
    list-style: none;
}

ul.menu li a {
    text-decoration: none;
    font-size: 20px;
    display: block;
    padding: 10px 15px;
    position: relative;
    color: white;
}

ul.menu li a:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: white;
    transform: scaleX(0);
    transition: all 0.5s;
    transform-origin: left;
}

ul.menu li a:hover:before {
    transform: scaleX(1);
}

ul.menu li a:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: white;
    transform: scaleX(0);
    transition: all 0.5s;
    transform-origin: right;
}

ul.menu li a:hover:after {
    transform: scaleX(1);
}

/*======Hamburger toggler=============*/
.hamburger {
    width: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: .5em;
}

#navToggle span,
#navToggle span:before,
#navToggle span:after {
    cursor: pointer;
    border-radius: 1px;
    height: 5px;
    width: 35px;
    background: white;
    position: absolute;
    display: block;
    content: '';
    transition: all 500ms ease-in-out;
}

#navToggle span:before {
    top: -10px;
}

#navToggle span:after {
    bottom: -10px;
}

#navToggle.active span {
    background-color: transparent;
}

#navToggle.active span:before,
#navToggle.active span:after {
    top: 0;
}

#navToggle.active span:before {
    transform: rotate(45deg);
}

#navToggle.active span:after {
    transform: rotate(-45deg);
}